body            { font-family: sans-serif }
a, h1, h2       { color: #000000; text-decoration: none; }
h1				{ font-size: 2.8em; color:#E55300; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1				{ border-bottom: 5px solid #ffffff; }
h2              { font-size: 1.73em; }
h4				{ font-family:'Georgia';font-size: 1.07em; }

.page           { margin: 5em auto; width: 35em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.ebenkeller		{ text-align:center; }
