<!doctype html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type ="image/gif">
<title>news!</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=page>
    {% if data %}

       <div class=entries>
          <div class=spectrum>
          <h1>Spectrum</h1>
          {% for message in data["spectrum"] %}    
          <h2>{{ message[0]}}. <a href = '{{message[2]}}'>{{message[1]}}</a></h2><h4>{{message[3]}}</h4>
          {% endfor %}
          <br>
          </div>

          <div class=ycombinator>
          <h1>Ycombinator</h1> 
          {% for message in data["ycombinator"] %}    
          <h2>{{ message[0]}}. <a href = '{{message[2]}}'>{{message[1]}}</a></h2><h4>{{message[3]}}</h4>
          {% endfor %}
          <br>
          </div>

          <div class=cell>
          <h1>Cell</h1>
          {% for message in data["cell"] %}    
          <h2>{{ message[0]}}. <a href = '{{message[2]}}'>{{message[1]}}</a></h2><h4>{{message[3]}}</h4>
          {% endfor %}
          <br>
          </div>

          <div class=nature>
          <h1>Nature</h1>
          {% for message in data["nature"] %}    
          <h2>{{ message[0]}}. <a href = '{{message[2]}}'>{{message[1]}}</a></h2><h4>{{message[3]}}</h4>
          {% endfor %}
          <br>
          </div>

          <div class=arstechnica>
          <h1>Arstechnica</h1>
          {% for message in data["arstechnica"] %}    
          <h2>{{ message[0]}}. <a href = '{{message[2]}}'>{{message[1]}}</a></h2><h4>{{message[3]}}</h4>
          {% endfor %}
          <br>
          </div>

          <div class=newyorker>
          <h1>NewYorker</h1>
          {% for message in data["newyorker"] %}    
          <h2>{{ message[0]}}. <a href = '{{message[2]}}'>{{message[1]}}</a></h2><h4>{{message[3]}}</h4>
          {% endfor %}
          <br>
          </div>

          <div class=verge>
          <h1>Verge</h1>
          {% for message in data["verge"] %}    
          <h2>{{ message[0]}}. <a href = '{{message[2]}}'>{{message[1]}}</a></h2><h4>{{message[3]}}</h4>
          {% endfor %}
          </div>

          <div class=bbc>
          <h1>BBC</h1>
          {% for message in data["bbc"] %}    
          <h2>{{ message[0]}}. <a href = '{{message[2]}}'>{{message[1]}}</a></h2><h4>{{message[3]}}</h4>
          {% endfor %}
          <br>
          </div>

          <div class=guardian>
          <h1>Guardian</h1>
          {% for message in data["guardian"] %}    
          <h2>{{ message[0]}}. <a href = '{{message[2]}}'>{{message[1]}}</a></h2><h4>{{message[3]}}</h4>
          {% endfor %}
          <br>
          </div>

          <div class=aljazeera>
          <h1>Aljazeera</h1>
          {% for message in data["aljazeera"] %}    
          <h2>{{ message[0]}}. <a href = '{{message[2]}}'>{{message[1]}} </a></h2><h4>{{message[3]}}</h4>
          {% endfor %}
          <br>
          </div>

          <div class=reuters>
          <h1>Reuters</h1>
          {% for message in data["reuters"] %}    
          <h2>{{ message[0]}}. <a href = '{{message[2]}}'>{{message[1]}}</a></h2><h4>{{message[3]}}</h4>
          {% endfor %}
          <br>
          </div>

          <div class=timemag>
          <h1>Time</h1>
          {% for message in data["timemag"] %}    
          <h2>{{ message[0]}}. <a href = '{{message[2]}}'>{{message[1]}}</a></h2><h4>{{message[3]}}</h4>
          {% endfor %}
          <br>
          </div>

       </div>
    {% else %}
      <h1>Bulamadım</h1>
  {% endif %}

<div class="ebenkeller">
<h2>coded for me by me I am me</h2>
</div>
</div>
